.search-results {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: var(--background-highlight);
    margin-top: 10px;
    border-radius: 12px;
    padding: 0;
    overflow: hidden;
    z-index: 5;
}

.search-result-item {
    display: flex;
    flex-direction: column;
    padding: 4px 12px;
    color: var(--text-primary);
}

.search-result-item:hover {
    cursor: pointer;
    background: var(--background-active);
    color: var(--text-menu-active);
    text-decoration: none;
}

.search-result-item:hover .search-result-note {
    color: var(--text-menu-active);
}

.search-result-note {
    font-size: 12px;
    color: var(--text-menu);
}