<%
const slugify = (text) => text.toLowerCase().replace(/[^\w]/g, "-");
const slug = slugify(entry.name);
%>


<li>
    <a href="#<%= slug %>"<% if (active) { %> class="active"<% } %>>
        <%= entry.name %>
    </a>

    <% if (entry.children.length) { %>
        <ul>
            <% for (const subentry of entry.children) { %>
                <%- include('toc_item', {entry: subentry, active: false}) %>
            <% } %>
        </ul>
    <% } %>
</li>
