#childLinks,
#childLinks ul,
#childLinks li {
    list-style: none;
    display: flex;
    align-items: center;
}

#childLinks {
    padding-top: 10px;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    border-top: 1px solid var(--background-highlight);
}

.no-content + #childLinks {
    border: 0;
}

#childLinks ul {
    padding: 0;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#childLinks li {
    padding: 0;
    background: var(--background-highlight);
    border-radius: 12px;
}

#childLinks li a {
    padding: 2px 12px;
    background: var(--background-highlight);
    border-radius: 12px;
    transform: translateY(0);
    transition: transform 200ms ease, background-color 200ms ease, color 200ms ease;
}

#childLinks li a:hover {
    background: var(--background-active);
    color: var(--background-secondary);
    text-decoration: none;
    transform: translateY(-2px);
}

#childLinks.grid li a {
    padding: 50px;
    color: var(--text-primary);
}

#childLinks.grid li a:hover {
    transform: translateY(-5px);
}