@import "./childlinks.css";
@import "./externallinks.css";
@import "./swagger.css";
@import "./toc.css";

@import "./navbar/index.css";
@import "./popouts/index.css";

@import "./layout.css";
@import "./content.css";

@import "./mobile.css";


* {
    box-sizing: border-box;
}

/*
Accent Color Ideas
--text-link: #4693C3;
  --text-link: #F9B273;
  --text-link: #5CA9BF;
  --text-link: #E43F66;
--text-link: #2FB8D1;
--text-link: #A78BFA;
--text-link: #F2B049;
--text-link: #E47B19;
  --text-link: #FFB628;
*/

:root {
    --background-primary: #333333;
    --background-secondary: #1F1F1F;
    --background-highlight: #484848;
    --background-active: #777777;
    --text-primary: #cccccc;
    --text-heading: #cccccc;
    --text-menu: #AAAAAA;
    --text-link: #87CEFA;
    --text-menu-active: #000000;
    color-scheme: dark;
}

body.theme-light {
    --background-primary: #FFFFFF;
    --background-secondary: #F3F3F3;
    --background-highlight: #DDDDDD;
    --background-active: #777777;
    --text-primary: #000000;
    --text-heading: #000000;
    --text-menu: #333333;
    --text-link: #0000ff;
    color-scheme: light;
}

body {
    background: var(--background-primary);
    font-family: 'Montserrat', 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    line-height: 1.5;
    color: var(--text-primary);
    margin: 0;
}

a {
    color: var(--text-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre, code, kbd, samp {
    font-family: "JetBrains Mono", Consolas, monospace;
}




