@import "./childlinks.css";
@import "./externallinks.css";
@import "./swagger.css";
@import "./toc.css";

@import "./navbar/index.css";
@import "./popouts/index.css";

@import "./mobile.css";


* {
    box-sizing: border-box;
}

:root {
    --background-primary: #333333;
    --background-secondary: #1F1F1F;
    --background-highlight: #484848;
    --background-active: #777777;
    --text-primary: #cccccc;
    --text-heading: #cccccc;
    --text-menu: #AAAAAA;
    --text-link: #87CEFA;
    --text-menu-active: #000000;
}

body.theme-light {
    --background-primary: #FFFFFF;
    --background-secondary: #F3F3F3;
    --background-highlight: #DDDDDD;
    --background-active: #777777;
    --text-primary: #000000;
    --text-heading: #000000;
    --text-menu: #333333;
    --text-link: #0000ff;
}

body {
    background: var(--background-primary);
    font-family: 'Montserrat', 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    line-height: 1.5;
    color: var(--text-primary);
}

a {
    color: var(--text-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#split-pane {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#left-pane {
    display: flex;
    width: calc((100vw - 900px) / 2);
    min-width: fit-content;
    height: calc(100vh);
    background: var(--background-secondary);
    border-right: 5px solid var(--background-highlight);
    justify-content: flex-end;
    position: sticky;
    top: 0;
}

#right-pane {
    display: flex;
    margin: 0 auto;
    gap: 40px;
    flex: 1;
    padding-bottom: 500px;
    padding-right: 50px;
}

#main {
    order: 2;
    max-width: 900px;
    flex: 1;
}


.ck-content code,
.ck-content pre {
    color: var(--text-primary);
    background-color: var(--background-secondary);
    border: 1px solid var(--background-active);
    border-radius: 6px;
    white-space: pre;
}

.ck-content code {
    padding: 2px 5px;
}

.ck-content pre code {
    border: 0;
}

.ck-content pre {
    overflow: auto;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
    color: var(--text-heading);
    border-bottom: 1px solid var(--background-highlight);
    padding-bottom: 5px;
}