#sidebar {
    flex: var(--pane-size);
    height: fit-content;
    position: sticky;
    top: calc(72px + 1rem);
}

#sidebar, #sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar {
/*         padding-right: 20px; */
}



/*     #sidebar .title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    color: #777;
    font-weight: 700;
    border-bottom: 1px solid #777;
} */

#sidebar p {
    display: flex;
    margin: 0;
}

#sidebar a {
    flex: 1;
    padding: 6px 6px 6px 12px;
    border-radius: 6px;
    transition: color 200ms ease, background-color 200ms ease;
}

#sidebar a:hover {
    background: rgba(255,255,255,0.05);
}

#sidebar > li > ul > li.submenu-item > p > a {
    text-transform: uppercase;
    font-weight: 700;
    color: #555;
}

#sidebar li > ul {
    margin-top: 5px;
}

#sidebar > li > ul.hasSubmenu,
#sidebar > li > ul > li.submenu-item + li.submenu-item {
    margin-top: 20px;
}